body {
  font-family: cursive, Helvetica, sans-serif;
}

/* NAV */

#header-nav {
    min-height: 70px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: cursive, Helvetica;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0px;
  padding-bottom: 15px;
}

.navbar-header .navbar-toggle {
    height: 44px;
    padding: 9px 5px 9px 5px;
}

.navbar-header .navbar-toggle .icon-bar {
    height: 4px;
    width: 30px;
}

#collapsable-nav {
}

#nav-list {
  border: solid 1px black;
  background-color: white;
  margin: 0;
}

.nav-menu-item {
  font-size: 1.2em;
}

.nav-menu-item:nth-child(even) {
    border: solid black;
    border-width: 1px 0px 1px 0px;
}

/* MAIN */

#main-content {
    width:100%;
}

#main-title {
  font-size: 2.5em;
}

#menu-descriptions {
    padding: 10px;
}

.menu-description {
  margin-bottom: 15px;
}

.menu-description div {
  background-color: whitesmoke;
  padding: 15px;
}

.menu-item-title {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0 0 5px 0;
}

.menu-item-description {
    text-transform: lowercase;
}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

/* MAIN */

#menu-descriptions {
    margin: 40px;
  }
}